*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: #78b43d;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 13px;
}

.picture{
    display: inline-block;
    width: 100px;
}

#menu{
    display: flex;
    justify-content: center;
    
    font-size: smaller;
    margin: 4px 4px;
    width: 59px;
    position: relative;
}

#menu a{
    text-decoration: none;
    color: white;
}

.list-item li{
    display: inline-block;
    height: 100%;
}

.list-item{
    display: inline-block;
  
}

span{
    font-size: smaller;
}

.list-item li a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px 2px;
    display: block;
    height: 100%;
    
}
.img-wrapper{
    display: block;
    text-align: center;
}

.img-wrapper img{
    height: 20px;
    width: 20px;
}

.fa-bars {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
    transform: translateX(0%);
}

.line1{
    background-color: white;
    width: 0.5px;
    height: 50px;
}

.fa-magnifying-glass{
    color: white;
    font-size: 25px;
    margin-top: 25%;
    margin-left: 15px;
    margin-right: 15px;
}

.line2{
    background-color: white;
    width: 0.5px;
    height: 50px;
    margin-left: 55px;
}

.box{
    height: 50px;
}

.list-item li a:hover{
    background-color: #009900		;
    text-decoration: underline;
    
}

.news{
    position: absolute;
    margin-top: 46px;
    margin-right: 105px;
    display: none;
}

.news li{
    display: block;
    background-color: #aad862;
    border-bottom: 1px solid black;
    width: 200px;	
}

#menu .news li a{
    color: black;
    font-size: 15px;
    
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
}

#menu:hover .news{
    display: block;
}

.fa-caret-right{
    color: white;
    margin-left: 7px;
    margin-right: 5px;
}
s
.news img{
    width: 100%;
}

/* -------Content------- */

#content{
    width: 1004px;
    /* dua the nay ra giua man hinh  */
    display: block;
    margin: 0 auto;
}

#box{
    width: 699px;
    float: left;
}
.content_left{
    width: 347px;
    float: left;
}
.news_1{
    width: 347px;
    float: left;
}
ul.tab{
    width: 100%;
    
}
ul.tab li {
    display: inline-block;
    background-color: #CCCCCC	;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 4px;
    border-radius: 10px;
    line-height: 17px;
}

ul.tab li a{
    
    font-size: 11px;
}

ul.tab li a strong:hover{
    color: black;
}
.news_1 a {
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 14px;
    color: black;
}

.news_1 a:hover{
    color: #78b43d;
}
.divide{
    width: 100%;
    display: inline-block;
    margin-top: 23px;
}

.fa-angles-right{
    color: #78b43d;
    margin-right: 5px;
}


.divide p{
    font-size: 13px;
}
.divide .more a{
    font-size: 12px;
    color: #666666	;
}

.divide .more a:hover{
    text-decoration: underline;
}

.divide img{
    margin-right: 10px;
    float: left;
}

.selections{
    background-color: #eaf8d2;
}
.sub-selections{
    background-color: #d5ecab;
}

.selections li{
    padding-left: 13px ;
    list-style: none;
    padding-top: 2px;
}

.sub-selections li{
    padding-left: 13px ;
    list-style: none;
    padding-top: 2px;
}

.selections li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.sub-selections li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.fa-square{
    font-size: 7px;
    color: #aad862;
    margin-right: 6px;
    transform: translateY(-2px);
}

.fa-video{
    font-size: 9px;
    color: #aad862;
    margin-right: 3px;
    transform: translateY(-1px);
}


.content_right{
    width: 347px;
    float: right;
}

.content_right a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.content_right a:hover{
    color: #78b43d
}
.divide_right{
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.divide_right img{
    width: 120px;   
    float: left;
    margin-right: 10px;
  
}

.divide_right p{
    font-size: 13px;
}

.divide_right span a{
    font-size: 12px;
    color: #666666;
}

.divide_right span a:hover{
    text-decoration: underline;
    color: #666666;
}

.content_botleft{
    width: 347px;
    float: left;
}

.content_botleft .tab li a{
    text-decoration: none;
    color: black;
}

.content_botleft .tab li a:hover{
    color: #78b43d;
}

.content_botleft a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.content_botleft a:hover{
    color: #78b43d;
}

.white-list{
    list-style: none;
}

.white-list li{
    padding-left: 13px;
    padding-top: 2px;
}

.white-list li a{
    font-size: 12px;
}



.content_botright{
    width: 347px;
    float: right;
}

.content_botright .tab li a{
    text-decoration: none;
    color: black;
}

.content_botright .tab li a:hover{
    color: #78b43d;
}
.content_botright a{
    text-decoration: none;
    color: black;
}

.content_botright a:hover{
    color: #78b43d;
}

.content_mid{
    width: 347px;
    float: left;
}

.long-list{
    height: 89px;
    overflow-x: hidden
}

.content_mid .tab li a{
    text-decoration: none;
    color: black;
}

.content_mid .tab li a:hover{
    color: #78b43d;
}

.content_mid a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.content_mid a:hover{
    color: #78b43d;
}

.long-list ul li{
    padding-left: 13px;
}

.long-list ul li a{
    font-size: 12px;
}

.content_midright{
    width: 347px;
    float: left;
}

.content_midright .tab li a{
    text-decoration: none;
    color: black;
}

.content_midright .tab li a:hover{
    color: #78b43d;
}

.content_midright a{
    color: black;
    text-decoration: none;
}

.content_midright a:hover{
    color: #78b43d;
}

.content_adver{
    width: 347px;
    height: 302px;
    float: right;
    text-align: center;
    line-height: 302px;
    font-size: 15px;
}

.content_last{
    width: 347px;
    float: right;
}

.content_last .tab li a{
    text-decoration: none;
    color: black;
}

.content_last .tab li a:hover{
    color: #78b43d;
}

.content_last a{
    color: black;
    text-decoration: none;
}

.content_last a:hover{
    color: #78b43d;
}

.fa-camera{
    font-size: 13px;
    color: #00CCFF	;
    transform: translateX(-3px);
}

.fa-star{
    font-size: 12px;
    color: red	;
    transform: translateX(-3px);
}

/* --------box_right--------- */

#box_right{
    width: 300px;
    float: right;
    margin-top: 35px;

}

.check-list{
    display: block;
}

.top_right{
    display: block;
    float: left;
    margin-bottom: 10px;
}

.check-list img{
    float: left;
    margin-right: 10px;
}

.check-list a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.check-list a:hover{
    color: #78b43d;
}

h2{
    font-size: 17px;
    color: #78b43d;
    border-bottom: 2px solid #78b43d;
    margin-bottom: 10px;
    
}

ul.btc li{
    display: inline-block;
    margin-right: 10px;
}

#box_right a {
    text-decoration: none;
}

h1{
    font-size: 18px;
    color: #78b43d;
    border-bottom: 2px solid #78b43d;
    margin-bottom: 10px;
    text-align: center;
}

.fa-arrow-trend-up{
    font-size: 25px;
    float: left;
    transform: translateY(-15%);
}

ul.btc li a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}

ul.btc{
    background-color: #fafafa;
}

.fa-caret-down{
    margin-right: 5px;
    color: red;
}

.fa-caret-up{
    margin-right: 5px;
    color: #78b43d;
    margin-left: 5px;
}

#box_right .block{
    background-color: #fafafa;
    padding: 3px 7px;
    
}

.big-block{
    
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top_right .check-list img{
    width: 100px;
    height: 75px;
}


#box_right h3{
    background: url(https://static.thenounproject.com/png/2760084-200.png) no-repeat -4px 162px;
    background-size: 30px;
    margin-top: 17px;
    border-bottom: 2px solid #d2577e;
    margin-bottom: 10px;
    
}

h3 a{
    padding-left: 27px;
    color: #d2577e;
}

ul.woman-list li{
    display: inline-block;
    padding-left: 13px;
}



ul.woman-list li a{
    font-size: 13px;
    color: black;
}

.fa-circle{
    color: #d2577e;
    font-size: 5px;
    transform: translateY(-3px);
    margin-right: 10px;
}

ul.woman-list li a:hover{
    color: #78b43d;
}

ul.number{
    text-align: center;
    margin-top: 10px;
}
ul.number li{
    display: inline-block;
    border: 1px solid #CCCCCC	;
    padding: 5px 10px;
    cursor: pointer;
}

ul.number li a{
    font-size: 13px;
}

#video{
    width: 699px;
    float: left;
}

#video .left-side{
    width: 410px;
    border-right: 1px solid #CCCCCC	;
    display: inline-block;
}

#video .left-side img{
    width: 400px;
    height: 225px;
}

h4{
    font-size: 19px;
    border-bottom: 2px solid #78b43d;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

}

h4 a{
    text-decoration: none;
    color: #78b43d;
}
.fa-youtube{
    color: #78b43d;
    margin-right: 10px;
}

h4 a:hover{
    color: black;
}

.left-side p a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

.left-side p a:hover{
    color: #78b43d;
}

.left-side p{
    font-size: 13px;
    width: 95%;
    margin: 10px 0;
}

.video-list{
    width: 280px;
    float: right;
    overflow-x: hidden;
    height: 336px;
}

.video-list img{
    width: 130px;
    height: 76.4px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.video-list li{
    display: block;
    float: left;
}

.video-list li a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.video-list li a:hover{
    color: #78b43d;
}

#price{
    width: 699px;
    margin-top: 10px;
}

.gold .head a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    background-color: #e3b014;
    padding: 5px 10px;
}

.gold{
    width: 223px;
    display: inline-block;
}
.short{
    width: 223px;
    display: inline-block;
    border-top: 1px solid #e3b014;
    margin-top: 3px;
    border-right: 1px solid #CCCCCC	;
    border-bottom: 1px solid #CCCCCC	;
}

.short span a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

#minishort{
    width: 100%;
}

#minishort .name{
    width: 45px;
    display: inline-block;
    background-color: #CCCCCC;
    margin-right: 10px;
}

.gold .head a:hover{
    color: #009900;
}

#minishort .name a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-left: 9px;
}

#minishort .name a:hover{
    color: #78b43d;
}

#minishort .buy a:hover{
    color: #78b43d;
}

#minishort .sell a:hover{
    color: #78b43d;
}

#minishort .nop{
    margin-right: 20px;
}

#minishort .nop a{
    color: #888888		;
}




.short-money{
    width: 223px;
    display: inline-block;
    border-top: 1px solid #08b089;
    margin-top: 3px;
    border-right: 1px solid #CCCCCC	;
    border-bottom: 1px solid #CCCCCC	;
}

.short-money span a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}
.money .head{
    
}

.money{
    width: 223px;
    display: inline-block;
}
.money .head a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    padding: 5px 10px;
    background-color: #08b089;
}
#minishort-money{
    width: 100%;
}

#minishort-money .name{
    width: 45px;
    display: inline-block;
    background-color: #CCCCCC;
    margin-right: 10px;
}

.money .head a:hover{
    color: #009900;
}

#minishort-money .name a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-left: 9px;
}

#minishort-money .name a:hover{
    color: #78b43d;
}

#minishort-money .buy a:hover{
    color: #78b43d;
}

#minishort-money .sell a:hover{
    color: #78b43d;
}

#minishort-money .nop{
    margin-right: 20px;
}

#minishort-money .nop a{
    color: #888888		;
}

.vietlott{
    width: 223px;
    display: inline-block;
    /* transform:translateY(17%) ; */
}

.around{
height: 20px;
}

.vietlott .around img{
    float: left;
    transform: translateY(-4%);
}

.vietlott .around span{
    
}
.vietlott .around span a{
    text-decoration: none;
    font-size: 10px;
    float: right;
    font-family: arial,sans-serif;
    transform: translateY(18%);
    color: black;
}

.result{
    height: 45px;
    border-top: 1px solid #fc000c ;
}

.day{
    width: 45px;
    height: 39px;
    display: inline-block;
    background-color: #CCCCCC;
    float: left;
    text-align: center;
}

.day p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.nom{
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.nom .veso{
    font-size: 12px;
    border-right: 2px solid red;
    padding-right: 6px;
}

.nom .red-number{
    font-size: 12px;
    color: red;
}

.nom-1 .day-month{
    font-size: 12px;
    border-right: 2px solid red;
    padding-right: 6px;
    margin-left: 5px;
}

.nom-1 ul li{
    display: inline-block;
}

.nom-1 ul li a{
    text-decoration: none;
    font-size: 11px;
    color: black;
}

.nom-1 ul{
    float: right;
    margin-right: 23px;

}

.nom-1{
    border-right: 1px solid #CCCCCC	;
    border-bottom: 1px solid #CCCCCC	;
}


#final-content{
    width: 699px;
    margin-bottom: 10px;
}

#final-content .tab li a{
    text-decoration: none;
    color: black;
}

#final-content .tab li a:hover{
    color: #78b43d;
}

#final-content .divide_right div a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#final-content .divide_right div span a{
    font-size: 12px;
    color: rgb(102, 102, 102);
}

#final-content .divide_right div a:hover{
    color: #78b43d;
}

#final-content .divide_right div span a:hover{
    text-decoration: underline;
    color: rgb(102, 102, 102);
}

#final-content .white-list{
    margin-left: 121px;
    transform: translateY(-14%);
}
#final-content .white-list li a{
    text-decoration: none;
    color: black;
}

#final-content .white-list li a:hover{
    color: #78b43d;
}

#button{
    width: 999px;
    text-align: right;
    
}

.share{
    display: inline-block;
    
}


.share a{
    text-decoration: none;
    color: white;
    background-color: #78b43d;
    padding: 13px 16px;
    font-size: 17px;
    border-radius: 50px;
    transform: translateY(10%);

}

.share a:hover{
    background-color: #209956;
}
.house{
    display: inline-block;
    background-color: #78b43d;
    color: white;
    padding: 13px 14px;
    border-radius: 50px;

}

.fa-arrow-up-from-bracket{
    margin-right: 5px;
}
.up{
    display: inline-block;
    background-color: #CCCCCC;
    color: white;
    
    padding: 13px 16px;
    border-radius: 50px;
}

.fa-house{
    color: white;
    
    
}

.fa-arrow-up-long{
    color: white;
    font-size: 17px;
    line-height: 44px;
}

/* ---------footer--------- */

#footer{
    background-color: #EEEEEE	;
    width: 100%;
}

#footer .near{
    width: 1004px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

#footer .near .three-items{
    display: inline-block;
    list-style: none;
    vertical-align: top;
    margin-right: 15px;
}

#footer .near .three-items li a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

#footer .near .three-items li a:hover{
    color: #78b43d;
}

.last-line{
    background-color: #78b43d;
    width: 100%;
    text-align: center;
    padding: 7px 0;
}

.last-line ul li{
    display: inline-block;
    margin: 0 5px;
    
}

.last-line ul li a{
    text-decoration: none;
    font-size: 13px;
    color: white;
   
}

.last-line ul li a:hover{
    color: black;
}

#footer .address{
    width: 988px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#footer .address p{
    font-size: 13px;
    color: rgb(102, 102, 102);
}

#footer .logo{
    text-align: center;
}